%div{:class => "card-profile-stats"}
  %div{:align => "center", :class => "card-profile-stats-intro"}
    %img{:class => "card-profile-stats-intro-pic", :src => "https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg", :alt => "profile-image"}
    %div{:class => "card-profile-stats-intro-content"}
      %h3{:align => "center"} Vladislav Shevchenko
      %p{:align => "center"} 20 year

  %hr

  %div
    %ul 
      %li В возрасте 4 лет начал заниматься спортом. Занимался прыжками на батуте и плаваньем. В 2014 году присвоено звание КМС по прыжкам на батуте Спортивные достижения: 
      %li Бронзовый призер первенства ДЮСШ КСК «Шинник» по прыжкам на батуте -2004 г. Днепропетровск;
      %li Серебряный призер в турнире ДЮСШ КСК «Шинник» по прыжкам на батуте -2004 г. Днепропетровск;
      %li Бронзовый призер в первенстве ДЮСШ КСК «Шинник» по прыжкам на батуте -2005 г. Днеперопетровск;
      %li Победитель первенства ДЮСШ КСК «Шинник» -2005 г. Днепропетровск;
      %li Бронзовый призер первенства СДЮСШОР № 2 по прыжкам на батуте -2009 г. Днепропетровск;
      %li Бронзовый призер чемпионата области по прыжкам на батуте -2009 г. Днепропетровск;
      %li Бронзовый призер первенства СДЮСШОР № 2 по прыжкам на батуте -2009 г. Днепропетровск;
      %li Серебряный призер первенства СДЮСШОР № 2 по прыжкам на батуте -2010 г. Днепропетровск;
      %li Серебряный призер СДЮСШОР №2 в соревнованиях по прыжкам на батуте -2010 г. Днепропетровск;
      %li Бронзовый призер первенства СДЮСШОР № 2 по прыжкам на батуте -2010 г. Днепропетровк;
      %li Серебряный призер в командных соревнованиях чемпионата Украины по прыжкам на батуте -2010 г. Славутич;
      %li Бронзовый призер в V I летних юношеских спортивных играх области по прыжкам на батуте в индивидуальных упражнениях. -2011 г. Днепропетровск;
      %li Серебряный призер в первенстве СДЮСШОР № 2 по прыжкам на батуте -2011 г. Днепропетровск;
      %li Бронзовый призер чемпионата области по прыжкам на батуте -2012 г. Днепропетровск;
      %li Бронзовый призер чемпионата области по прыжкам на батуте -2013 г. Днепропетровск;
      %li Победитель в Кубке Области по прыжкам на батуте -2013 г. Днепропетровск;

  %div{:class => "card-profile-stats-more"}
    %p{:class => "card-profile-stats-more-link"} 
      %a{:href => "#"}
        %i{:class => "fa fa-angle-down", :aria-hidden => "true"}
    %div{:class => "card-profile-stats-more-content"}
      %p
        %i{:class => "fa fa-angle-down", :aria-hidden => "true"}
