%div{:class => "about-the-author"}
  %div{:class => "row"}
    %div{:class => "small-12 medium-4 columns"}
      %div{:class => "author-image"}
        %img{:src => "https://s3.amazonaws.com/www.dneprpowerkids.ua/QgfEoQuY1Hc.jpg"}
      %div{:class => "author-social"}
        %a{:href => "#"}
          %span{:class => "fa-stack fa-lg facebook"}
            %i{:class => "fa fa-circle fa-stack-2x"}
            %i{:class => "fa fa-facebook fa-stack-1x fa-inverse"}
        %a{:href => "#"}
          %span{:class => "fa-stack fa-lg twitter"}
            %i{:class => "fa fa-circle fa-stack-2x"}
            %i{:class => "fa fa-twitter fa-stack-1x fa-inverse"}
        %a{:href => "#"}
          %span{:class => "fa-stack fa-lg linkedin"}
            %i{:class => "fa fa-circle fa-stack-2x"}
            %i{:class => "fa fa-linkedin fa-stack-1x fa-inverse"}
    %div{:class => "small-12 medium-8 columns"}
      %h4{:class => "separator-left"} Шевченко Владислав Владимирович
      %ul
        %li Спортивные достижения: 
        %li Бронзовый призер первенства ДЮСШ КСК «Шинник» по прыжкам на батуте -2004 г. Днепропетровск;
        %li Серебряный призер в турнире ДЮСШ КСК «Шинник» по прыжкам на батуте -2004 г. Днепропетровск;
        %li Бронзовый призер в первенстве ДЮСШ КСК «Шинник» по прыжкам на батуте -2005 г. Днеперопетровск;
        %li Победитель первенства ДЮСШ КСК «Шинник» -2005 г. Днепропетровск;
        %li Бронзовый призер первенства СДЮСШОР № 2 по прыжкам на батуте -2009 г. Днепропетровск;
        %li Бронзовый призер чемпионата области по прыжкам на батуте -2009 г. Днепропетровск;
        %li Бронзовый призер первенства СДЮСШОР № 2 по прыжкам на батуте -2009 г. Днепропетровск;
        %li Серебряный призер первенства СДЮСШОР № 2 по прыжкам на батуте -2010 г. Днепропетровск;
        %li Серебряный призер СДЮСШОР №2 в соревнованиях по прыжкам на батуте -2010 г. Днепропетровск;
        %li Бронзовый призер первенства СДЮСШОР № 2 по прыжкам на батуте -2010 г. Днепропетровк;
        %li Серебряный призер в командных соревнованиях чемпионата Украины по прыжкам на батуте -2010 г. Славутич;
        %li Бронзовый призер в V I летних юношеских спортивных играх области по прыжкам на батуте в индивидуальных упражнениях. -2011 г. Днепропетровск;
        %li Серебряный призер в первенстве СДЮСШОР № 2 по прыжкам на батуте -2011 г. Днепропетровск;
        %li Бронзовый призер чемпионата области по прыжкам на батуте -2012 г. Днепропетровск;
        %li Бронзовый призер чемпионата области по прыжкам на батуте -2013 г. Днепропетровск;
        %li Победитель в Кубке Области по прыжкам на батуте -2013 г. Днепропетровск.
%br
%div{:class => "about-the-author"}
  %div{:class => "row"}
    %div{:class => "small-12 medium-4 columns"}
      %div{:class => "author-image"}
        %img{:src => "https://s3.amazonaws.com/www.dneprpowerkids.ua/dqhalNxZI4I.jpg"}
      %div{:class => "author-social"}
        %a{:href => "#"}
          %span{:class => "fa-stack fa-lg facebook"}
            %i{:class => "fa fa-circle fa-stack-2x"}
            %i{:class => "fa fa-facebook fa-stack-1x fa-inverse"}
        %a{:href => "#"}
          %span{:class => "fa-stack fa-lg twitter"}
            %i{:class => "fa fa-circle fa-stack-2x"}
            %i{:class => "fa fa-twitter fa-stack-1x fa-inverse"}
        %a{:href => "#"}
          %span{:class => "fa-stack fa-lg linkedin"}
            %i{:class => "fa fa-circle fa-stack-2x"}
            %i{:class => "fa fa-linkedin fa-stack-1x fa-inverse"}
    %div{:class => "small-12 medium-8 columns"}
      %h4{:class => "separator-left"} Ротань Полина Александровна
      %ul
        %li Спортивные достижения: 
        %li Лауреат танцевального фестиваля "Изумрудный город";
        %li Лауреат ежегодного фестиваля "GLOBAL- DANCE";
        %li Лауреат фестиваля "Музыка Любви" Днепропетровской области;
        %li Лауреат "Ukrainian Dance Cup" Всеукраинский конкурс хореографии.
        