%div{:align => "center"}
  %h4{:color => "white", :font-size => "48"} КЛУБ ФИЗИЧЕСКОГО РАЗВИТИЯ "POWERFUL KIDS" в Днепропетровске приглашает деток на групповые и индивидуальные тренировки.

%h3{:color => "white", :font-size => "40", :color => "", :font-style => "italic"} Мы предлагаем:
%div{:float => "center", :style => "font-size: 17px"}
  %div{:data-closable => nil, :class => "callout alert-callout-border success"}
    %bold Курс общей физической подготовки для улучшения здоровья

  %div{:data-closable => nil, :class => "callout alert-callout-border warning"}
    %bold Индивидуальный подход к каждому ребенку, а так же индивидуальная программа тренировок

  %div{:data-closable => nil, :class => "callout alert-callout-border success"}
    %bold Тренировки по принципу "CrossFit"
    %br (Кроссфит – это круговая тренировка (то есть, упражнения постоянно повторяются, как бы замыкаясь в цепочку), которая заключается в выполнении определенного 
    комплекса упражнений за минимальное время. Она имеет принципиальные отличия от обычных круговых тренировок, так как направленна на развитие сразу нескольких физических качеств, таких как сила, выносливость и ловкость. Тренировочную концепцию кроссфита можно назвать одной из лучших в развитии общей физической подготовки. Индивидуальный комплекс подбирается исходя из возможности спортсмена и оснащения зала.)

  %div{:data-closable => nil, :class => "callout alert-callout-border warning"}
    %bold Фитнес для малышей 
    %br (Занятия фитнесом способствуют здоровому физическому развитию малышей, правильному формирование опорно-двигательного аппарата и обеспечивают профилактику 
    наиболее распространенных недугов - плоскостопия и нарушения осанки. Также это позволит Вашему малышу сделать качественный скачок в развитии не только физической, но и психо-эмоциональной сферы, поскольку умение управлять своим телом требует соответствующего интеллектуального развития.)

  %div{:data-closable => nil, :class => "callout alert-callout-border success"}
    %bold А так же упражнения на гибкость и растяжку
  %div{:data-closable => nil, :class => "callout aler-callout-border warning"}
    %bold Занятия проводятся в двух оборудованных и уютных залах