%div{:class => "marketing-site-content-section"}
  %div{:class => "marketing-site-content-section-img"}
    %img{:src => "https://s3.amazonaws.com/www.dneprpowerkids.ua/1+(120).jpg", :alt => ""}
  
  %div{:class => "marketing-site-content-section-block"}
    %h3{:class => "marketing-site-content-section-block-header"} Приглашаем деток в возрасте от 4 до 14 лет!
    %ul{:class => "marketing-site-content-section-block-subheader subheader dotless"}
      %li Индивидуальный подход к каждому ребенку;
      %li Интересные тренировки;
      %li Дружный коллектив;
      %li Интересные упражнения;
      %li Всестороннее развитие Вашего ребенка!


  