%div
  %div{:class => "basic-card", :align => "center"}
    %div{:class => "basic-card-image"}
      %img{:src => "https://s3.amazonaws.com/www.dneprpowerkids.ua/0220).jpg"}
    %div{:class => " callout secondary"}
      %h5 Оплата
      %ul{:class => 'dotless'}
        %li Цена пробной (первой) тренировки - 50 грн.
        %li Стоимость разового занятия - 70 грн.
        %li Цена месячного абонимента составляет 350 грн!
      Оплата осуществляется в день приобретения абонимента в любой день месяца. Тренировки проводятся 2 раза в неделю по 1 часу.
      Перенос тренировки возможен и обсуждается в индивидуальном порядке с Вашим тренером.
      Не состоявшиеся по вине клуба тренировки не будут  включены в стоимость и будут перенесены. В других случаях  мы оставляем за собой право отметить пропущенную тренировку "прогулянной".

  %div{:class => "basic-card", :align => "center"}
    %div{:class => "basic-card-image"}
      %img{:src => "https://s3.amazonaws.com/www.dneprpowerkids.ua/lA_jOQ44U60.jpg"}
    %div{:class => " callout secondary"}
      %h5 Форма
      %p Одевайте спортивную форму по сезону и приходите к нам!
      %br
      Детки без формы на тренировку допускаться не будут!
      

  %div{:class => "basic-card", :align => "center"}
    %div{:class => "basic-card-image"}
      %img{:src => "https://s3.amazonaws.com/www.dneprpowerkids.ua/x9OQLp58nDk.jpg"}
    %div{:class => " callout secondary"}
      %h5 Справка
      %p Главная цель тренировок - здоровье и хорошая физическая форма Вашего ребенка. 
      %br
      Поэтому, чтобы тренировки шли только в пользу, наличие справки о здоровье Вашего ребенка обязательно!
      В противном случае дети на тренировку допускаться не будут.
      К каждому ребенку мы подберем индивидуальную программу исходя из его функциональных и физических способностей.
    
    