%table{:class => "table_blur"}
  %tr
    %th ул. Янгеля 8, клуб Елена
    %th ПН
    %th ВТ
    %th СР
    %th ЧТ
    %th ПТ
    %th СБ
    %th ВС
  %tr
    %td Старшая группа
    %td 
    %td 
    %td 16:00-17:00
    %td 
    %td 
    %td 15:00-16:00
    %td 
  %tr
    %td Младшая группа
    %td 16:00-17:00
    %td 
    %td 
    %td 
    %td 
    %td 14:00-15:00
    %td
%table{:class => "table_blur"}
  %tr
    %th ж/м Сокол-1, клуб Panda_go
    %th ПН
    %th ВТ
    %th СР
    %th ЧТ
    %th ПТ
    %th СБ
    %th ВС
  %tr
    %td Старшая группа
    %td 16:30-17:30
    %td 
    %td 
    %td 16:30-17:30 
    %td 
    %td 
    %td 
  %tr
    %td Младшая группа
    %td 16:30-17:30
    %td 
    %td 
    %td 16:30-17:30 
    %td 
    %td 
    %td
