<div id="engadget-footer-contact-details-container">
    <footer id="engadget-footer-contact-details">
        <div class="footer-left">
            <div class="contact-details">
                <ul>
                    <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> +38 066 008 08 55;</li>
                    <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> +38 098 589 9497.</li>
                    <br>
                    <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> Наш адрес</a></li>
                    <li><i class="fa fa-map-marker fa-lg" aria-hidden="true" align="left"></i> Украина, Днепр
                    ул. Академика Янгеля, 8</li>
                </ul>
            </div>
        </div>
        <div class="footer-left" style="width: 33%;">
            <div class="contact-details">
                <ul>
                    <li>&copy; 2017 No rights reserved</li>
                </ul>
            </div>
        </div>
    </footer>
</div>